*{
    padding: 0%;
    margin: 0%;
    
}
header{ 
    padding-bottom: 50px;
    padding-top: 50px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    background-color: black;
}
.divlogo{
    position: absolute;
    padding-bottom: 500px;
}
.vermelho{
    color: red;
    background-color: red;
    width: 100%;
    height: 70px;
}
main{
    height: 100vh;
    background-color: #80746A;
    display: block;
}
.pizza{ 
    padding-top: 150px;
    height: 750px;
}
.text{
    padding-top: 100px;
    padding-left: 500px;
}
#text1{
    padding-top: 100px;
    padding-left: 350px;
}
.divinput{
    padding-top: 50px;
padding-left: 500px;
}
label{
color: white;
}
input{
    padding-bottom: 5px;
    padding-right: 5px;
    padding-left: 10px;
    padding-top: 5px;
    border-radius: 20px;
}